/* 
  Start: Global settings
*/

/* Brand Colors */
:root {
  --bs-black: #000000;
  --bs-white: #ffffff;
  --bs-text-light: var(--bs-black);
  --bs-text-dark: var(--bs-white);
  --bs-text-gray: #a9a9a9;
  --bs-brown: #a56248;
  --bs-brown-1: #e2d9d0;
  --bs-orange: #bb7a32;
  --bs-gray: #97a2a7;
  --bs-gray-1: #f0f0f0;
  --bs-gray-2: #d3d3d3;
  --bs-green: #546c5e;
  --bs-green-1: #7e9392;
  --bs-green-2: #b4b7ac;
  --bs-blue: #024959;
}
.color-orange {
  color: var(--bs-orange) !important;
}
.color-brown {
  color: var(--bs-brown) !important;
}

/* Typography */
body {
  font-family: "DM Sans", sans-serif !important;
}
h1 {
  font-size: 70px !important;
}
h2 {
  font-size: 35px !important;
}
h3 {
  font-size: 27px !important;
}

/* Page Container */
.super-content {
  max-width: 1100px !important;
  margin: auto;
  padding: 18px !important;
  padding-bottom: 10vh !important;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: var(--bs-gray);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bs-orange);
  outline: 1px solid var(--bs-gray);
  border-radius: 20px;
}
/* 
  End: Global settings
*/

/* 
  Start: Responsivness
*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  body {
    text-align: center;
  }
}

/* 
  End: Responsivness
*/

/* 
  Start: NavBar
*/

.super-navbar {
  background: var(--bs-black) !important;
  padding: 15px 0 !important;
  height: 88px !important;
  color: white !important;
  z-index: 9000 !important;
}
.super-navbar__menu {
  background: var(--bs-black) !important;
}
.super-navbar__content {
  max-width: 1100px !important;
  margin: auto !important;
}
.super-navbar__actions .notion-link {
  padding: 0px !important;
}
.super-navbar__cta {
  border-radius: 5px !important;
}
.super-navbar svg {
  stroke: var(--bs-white) !important;
}

/*Collection Views*/

/* Collection view header */

.notion-collection__header-wrapper h3,
.notion-dropdown__button {
  display: none !important;
}
.notion-collection-gallery {
  border: none !important;
}
.notion-dropdown__option-list {
  display: block !important;
}

/* 3 gallery grid */
.notion-collection-gallery.medium {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
}

/* Setup animations for the cover image and title */
.notion-collection-card .notion-property__title,
.notion-collection-card__cover img {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*  collection title Animation */
.notion-collection-card:hover .notion-property__title {
  transform: translate(0px, 0px);
}
/* Cover image animation */
.notion-collection-card:hover .notion-collection-card__cover img {
  transform: scale(1.8);
}

/* Changing the styling of the title property */
.notion-collection-card .notion-property__title {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #182a3d99;
  transform: translate(0px, 401px);
  color: var(--bs-white);
  font-size: 35px !important;
  padding: 25px !important;
  text-align: left !important;
}
/* hide icon of page title*/
.notion-property__title__icon-wrapper {
  display: none !important;
}

/* show full string */
.notion-collection-card.gallery
  .notion-property__title
  .notion-semantic-string {
  white-space: normal !important;
}
/* Change the size of the cover image */
.notion-collection-card__cover.medium {
  max-height: 400px !important;
  height: 400px !important;
}

/* drop down*/

.notion-dropdown__menu-header {
  display: none !important;
}
.notion-dropdown__option-list {
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.notion-dropdown__option-icon {
  display: none !important;
}

/* remove the animation for table views*/
.notion-dropdown__menu.animate-in.animate-out,
.notion-dropdown__menu.animate-in,
.notion-dropdown__menu.animate-out {
  animation: none !important;
}

.notion-dropdown__menu.initial-state {
  z-index: 99 !important;
  opacity: 1 !important;
  transform: none !important;
}
.notion-dropdown__menu {
  left: 0 !important;
  position: unset !important;
  transform: none !important;
  /* background: var(--bs-gray-2) !important; */
  box-shadow: unset !important;
  padding: 20px 0 !important;
}
.notion-dropdown {
  width: 100% !important;
}

/* 
  End: NavBar
*/

/* 
  Start: Content Container
*/
.notion-callout {
  width: 100%;
  margin: auto !important;
  border: none !important;
  border-radius: none !important;
  padding: 50px 20px;
}
.notion-callout__icon {
  display: none !important;
}
/* The callout content*/
.notion-callout__content {
  max-width: 1100px;
  width: 100% !important;
  margin: auto !important;
}
.notion-callout__content .notion-text__children {
  padding: 0 !important;
  margin: 0 !important;
}
.notion-callout .notion-callout__content > span {
  display: none;
}

/* 
  End: Content Container
*/

/* 
  Start: CustomBlocks Design
*/

.super-content .notion-text__content .notion-link {
  background: var(--bs-black) !important;
  color: var(--bs-white) !important;
  padding: 10px;
  border-radius: 5px !important;
  display: inline-block;
}

/* Footer */
#block-f068fb4ab55644f9926a8f941e5f678a {
  padding-top: 10px;
  border-top: 1px solid var(--bs-gray);
  opacity: 0.7;
  color: (--bs-gray) !important;
  text-align: center;
}

/* 
  End: CustomBlocks Design
*/

/* 
  Start: Animations
*/

.n-fadeUp {
  -webkit-animation: fadeInUp 1s !important;
  -moz-animation: fadeInUp 1s !important;
  -ms-animation: fadeInUp 1s !important;
  -o-animation: fadeInUp 1s !important;
}
.zoom-in-left {
  -webkit-animation: zoomInLeft 1s !important;
  -moz-animation: zoomInLeft 1s !important;
  -ms-animation: zoomInLeft 1s !important;
  -o-animation: zoomInLeft 1s !important;
  animation: zoomInLeft 1s !important;
}
/* 
  End: Animations
*/

/* Disable loading spinner */
video::-webkit-media-controls {
  visibility: hidden;
}

video::-webkit-media-controls-enclosure {
  visibility: visible;
}
