/**
    Project: Estavidita
    Author: Yudax
    Twitter: https://twitter.com/_yudax
**/

/*
    START: GLOBAL CONFIG 
*/

/* Brand Colors */
:root {
  --es-white: #ffffff;
  --es-black: #000000;
  --es-gray: #efefef;
  --es-gray-2: #d2d3d4;
  --es-blue: #00aeef;
  --es-text-dark: #231f20;
  --es-text-gray: #b3b3b3;
}

/* Brand Typography */
:root {
  --st-text-color: var(--es-text-dark);
  --st-font: "Archivo";
}
/* Brand Typography Desktop*/
:root {
  --st-d-h1: 60px;
  --st-d-h2: 40px;
  --st-d-h3: 25px;
  --st-d-p: 20px;
  --st-d-text-sm: 15px;
}

/* Brand Typography Mobile*/
:root {
  --st-m-h1: 40px;
  --st-m-h2: 25px;
  --st-m-h3: 20px;
  --st-m-p: 25px;
}
/* Brand Layout */
:root {
  --st-max-width: 1290px;
  --st-callout-padding-y: 47px;
  --st-border-radius: 20px;
}

/* Website global config */
body {
  background: var(--es-white) !important;
  padding: 0 !important;
  font-family: var(--st-font) !important;
}

h1,
h2,
h3 {
  font-family: "Archivo Narrow", sans-serif !important;
}

/* Hide pages */
#block-07d1f1046f5d4dfd8faee1918421fb8a {
  display: none !important;
}

/* Headings */
h1 {
  font-size: var(--st-d-h1) !important;
}
h2 {
  font-size: var(--st-d-h2) !important;
}
h3 {
  font-size: var(--st-d-h3) !important;
}

/* Notion text */
.notion-text {
  font-size: var(--st-d-p) !important;
}

/* Page Container */
/* .super-content {
  padding: 0 !important;
  max-width: var(--st-max-width) !important ;
  margin: auto;
  padding: 0 !important;
} */
/* Full width page size */
.super-content {
  padding: 0 !important;
  max-width: 100% !important;
}
.super-content.max-width {
  max-width: var(--st-max-width) !important;
}

/* Container: Callout  */
.notion-callout {
  width: 100%;
  margin: auto !important;
  border: none !important;
  border-radius: 0px !important;
}
.super-content article > .notion-callout {
  padding-top: var(--st-callout-padding-y) !important;
  padding-bottom: var(--st-callout-padding-y) !important;
}

.notion-callout__icon {
  display: none !important;
}
.notion-callout__content {
  width: 100% !important;
  max-width: var(--st-max-width) !important ;
  margin: auto !important;
  padding: 0px calc(env(safe-area-inset-left) + 15px) !important;
}
.notion-callout__content .notion-text__content {
  padding: 0px !important;
}
.notion-callout__content .notion-text__children {
  padding: 0 !important;
  margin: 0 !important;
}
.notion-callout .notion-callout__content > span {
  display: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: var(--es-gray);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--es-blue);
  outline: 1px solid var(--es-gray);
  border-radius: 20px;
}

/*
    END: GLOBAL CONFIG 
*/

/* 
    START: CUSTOM BLOCKS
*/

/* NavBar */
.super-navbar {
  background: none !important;
  padding: 15px 0 !important;
  height: 88px !important;
  color: var(--es-white) !important;
  background: var(--es-black) !important;
  /* z-index: 9000 !important; */
}
.super-navbar__menu {
  background: var(--es-black) !important;
}
.super-navbar__content {
  max-width: var(--st-max-width) !important;
  margin: auto !important;
}
.super-navbar__item {
  font-weight: bold !important;
}
.super-navbar__actions .notion-link {
  padding: 0px !important;
}
.super-navbar__cta {
  border-radius: var(--st-border-radius) !important;
}
.super-navbar svg {
  stroke: var(--es-white) !important;
}

/* Main Button */
.notion-text__content .notion-link {
  background: var(--es-white);
  padding: 7px 26px;
  margin-top: 17px;
  display: inline-block;
  border-radius: var(--st-border-radius);
  opacity: 1 !important;
  color: var(--es-text-dark) !important;
  border-bottom: 0px !important;
  font-size: 20px;
}
.notion-callout .notion-text__content .notion-link:hover {
  transition: 0.1s ease-in-out;
  opacity: 0.6;
}

/* 
    END: CUSTOM BLOCKS
*/

/* 
    **START**
    PAGES: HOME
    LINK: https://www.notion.so/Estavidita-59df8c697cf941d2a1570b317b3a4ff6
*/

/* Change NavBar background */
#page-index .super-navbar {
  background: var(--es-blue) !important;
}

/* hide header page */
#page-index .notion-header {
  display: none !important;
}
/* Full width page size */
#page-index .super-content {
  max-width: 100% !important;
}

/* SECTION: Hero */
#block-61afdd2793184d8ba5406a975dd8eedc {
  background-color: var(--es-blue);
  color: var(--es-white);
  padding-bottom: 0px !important;
}
/* Hero Column list */
#block-001e92728079403783e001a7b38ed6f6 {
  background: url(https://app.super.so/_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fc25c07f4-89f1-4476-9304-8e46e9aad9f8%2Fimages%2F8009dd6a-fbf2-40e0-90b3-d512d9a28a69.png&w=640&q=80)
    no-repeat -36px -29px;
  background-size: 751px;
  min-height: 606px;
}
/* Hero left image */
#block-def377ed696a489a8c31fc7d969c20bc {
  display: none;
}

.notion-column {
  justify-content: center;
}
/*  hero text right  */
#block-862a3794d4494d35b24141dc7593f2ef {
  justify-content: center;
}
/* SECTION: About */
#block-aea480b78aca46ad924ec325a72ee5a4 .notion-image {
  margin: auto !important;
}

/* SECTION: Values */
#block-2a9a739b18204a54b214b4a53f2a0b09 {
  background: var(--es-gray);
  text-align: center !important;
}
#block-2a9a739b18204a54b214b4a53f2a0b09 .notion-callout {
  background: var(--es-white);
  border-radius: var(--st-border-radius) !important;
  min-height: 368px !important;
}

/* SECTION: CTA */
#block-0cdbec691fcb4236b665d72bbd6c3249,
#block-f0381a41201247ada1716127231f08e2 {
  background-color: var(--es-blue);
  color: var(--es-white);
  text-align: center;
  padding: 20px !important;
}
#block-0cdbec691fcb4236b665d72bbd6c3249 .notion-link,
block-f0381a41201247ada1716127231f08e2 .notion-link {
  margin-top: 10px !important;
}
#block-0f74191f8cf140f4bbe9d9a180d87d63,
#block-6e6e0570b4fc4a66841dbf1b77e1dcb7 {
  display: flex;
  justify-content: center;
  text-align: start;
}
#block-0f74191f8cf140f4bbe9d9a180d87d63 .notion-column,
#block-6e6e0570b4fc4a66841dbf1b77e1dcb7 .notion-column {
  width: auto !important;
}

/* SECTION: SOCIAL MEDIA */
#block-5cd62f7eecee4805967c4aea9f520212 {
  color: var(--es-white);
  text-align: center !important;
  background-color: var(--es-black);
}

/* SECTION: New reviews */
#block-2628c229706b4320b9e145ae5efed372
{
    max-width: 763px;
    margin: auto !important;
    text-align: center !important;
}
#block-69df2cd2d8aa48e3b537bb03b7622da0 {
margin-left: -45px !important;
}

/* Image  */
#block-13161ae7485748f2927aa002f8d11839
{
margin: auto !important;
}

/* SECTION: GOOGLE REVIEWS */
#block-109355121a5049cda55c6d41592bb0a5 {
  background-color: var(--es-gray-2) !important;
}
#block-109355121a5049cda55c6d41592bb0a5 .notion-callout {
  background-color: var(--es-white);
  border-radius: var(--st-border-radius) !important;
  min-height: 262px;
  margin-bottom: 38px !important;
}
#block-109355121a5049cda55c6d41592bb0a5 .notion-callout .notion-text {
  font-size: var(--st-d-text-sm) !important;
  font-weight: bold;
}

#block-dedc45ff253e4f68806e6ab152369e8c {
  justify-content: center;
}

/* SECTION: FOOTER */
#block-d49f1994b44a4d89b6f1958b378b8249 {
  background: var(--es-black);
  text-align: center;
  color: var(--es-text-gray);
}
#block-d49f1994b44a4d89b6f1958b378b8249 .notion-text {
  font-size: var(--st-d-text-sm) !important;
}
/* social media icons container */
#block-60ec840f70874318b1ccf3fd9ebefba8 {
  margin: auto;
  width: 163px !important;
  overflow: hidden;
  /* background: red; */
  /* flex-direction: row; */
  flex-wrap: nowrap !important;
}
#block-60ec840f70874318b1ccf3fd9ebefba8 .notion-image {
  width: 40px !important;
  margin: auto;
}
#block-d49f1994b44a4d89b6f1958b378b8249 .notion-divider {
  border-color: #1e1e1e !important;
}

#block-c550f84ff0b84a268726413ecae16fb9 .notion-link {
  background: none !important;
  padding: 0 !important;
  font-size: inherit !important;
  margin-top: 0 !important;
}
/* 
    **END**
    PAGES: HOME
*/

/* 
    **START**
    PAGES: ABOUT
    LINK: https://www.notion.so/About-9c17bdf9018048228583dbbd7b51a1ad
*/
#page-sobremi {
  background-color: var(--es-gray);
}

/* Full width page size */
#page-sobremi .super-content {
  max-width: 100% !important;
}

#page-sobremi .notion-header__title-wrapper {
  display: none !important;
}
/* center images */
#page-sobremi .notion-image {
  margin: auto !important;
}

/* Sobri me */
#block-1f5ae12a52e845dbbd2873fbf4f787d6 {
  padding: var(--st-callout-padding-y);
  background-color: var(--es-white);
  border-radius: var(--st-border-radius) !important;
}
#block-67b1ae2e9f7d4f469c30734c4fd5a3aa .notion-text {
  font-size: var(--st-d-text-sm) !important;
}
/* Estavidita */
#block-9c1b79e012a44d73acfa7b5b6ac2389a {
  background-color: var(--es-white);
  text-align: center !important;
}
#block-e3843daaebe441d9ab9bb08c53d2a66c {
  border-radius: var(--st-border-radius) !important;
  border: 3px solid var(--es-gray) !important;
  text-align: left !important;
}
/* Diferencia */
#block-9b5f1a34ae534c28ab24d0342e6098fb {
  text-align: center;
}
#block-f6a3811237af418682d47874989c7138 {
  background: white;
  text-align: left;
  max-width: 900px;
  border-radius: 20px !important;
}

#page-informe .notion-header__title-wrapper {
  display: none !important;
}

#page-informe .super-content {
  max-width: 100% !important;
}

.notion-embed__container > iframe {
  background: none !important;
}
/* 
    **END**
    PAGES: ABOUT
*/

/* 
    **start**
    PAGE: Contact
*/
#page-contacto {
  text-align: center;
}
#page-contacto .notion-header {
  margin-bottom: 0;
}
#page-contacto .notion-header__title-wrapper {
  display: none !important;
}
#block-bfa029dc710942eba2a47f92354ce2d6 {
  background-color: var(--es-gray);
}

#block-bfa029dc710942eba2a47f92354ce2d6 .notion-callout {
  border-radius: var(--st-border-radius) !important;
  background-color: var(--es-white);
  height: 100%;
}

#page-contacto .notion-image {
  margin-top: 0px !important;
}

/* Start: Responsive*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  body {
    text-align: center !important;
  }
  /* Hero Column list */
  #block-001e92728079403783e001a7b38ed6f6 {
    background: none !important;
  }
  /* Hero left image */
  #block-def377ed696a489a8c31fc7d969c20bc {
    display: block;
    margin: auto !important;
  }
    #block-69df2cd2d8aa48e3b537bb03b7622da0 {
        margin-left: 0px !important;
    }
}
