/* START: GLOBAL CONFIG */
:root {
  --color-text-default: #ffffff !important;
  --color-text-gray: #8a8a8a !important;
  --site-background: #161616 !important;
  --site-bg-dark: #000000 !important;
}

/* WEBSITE BACKGROUND */
body {
  background: var(--site-background) !important;
  padding: 0 !important;
}
.super-content {
  max-width: 1100px !important;
  margin: auto;
  padding: 10px !important;
}
.super-content.max-width {
  max-width: none;
}
.notion-header__cover {
  max-height: 43vh;
  height: 41vh;
}

/* text styles */
h1 {
  font-size: 70px !important;
}
h2 {
  font-size: 30px !important;
}
h3 {
  font-size: 25px !important;
}

/* heading column */
.notion-column > .notion-heading:first-of-type {
  margin-top: 10px;
}
/* MAIN BUTTON */
.notion-callout .notion-text__content .notion-link {
  border: 2.5px solid var(--color-text-yellow) !important;
  padding: 5px 26px;
  margin-top: 11px;
  display: inline-block;
  border-radius: 26px;
  text-size-adjust: 18pt;
  font-size: 13pt;
  opacity: 1;
}
.notion-callout .notion-text__content .notion-link:hover {
  transition: 0.1s ease-in-out;
  opacity: 0.8;
}

/* NOTION CALLOUT ACT LIKE A CONTAINER */
.notion-callout {
  width: 100%;
  margin: auto !important;
  border: none !important;
  border-radius: none !important;
  padding: 50px 20px;
}
.notion-callout__icon {
  display: none !important;
}
/* The callout content*/
.notion-callout__content {
  max-width: 1100px;
  width: 100% !important;
  margin: auto !important;
}
.notion-callout__content .notion-text__children {
  padding: 0 !important;
  margin: 0 !important;
}
.notion-callout .notion-callout__content > span {
  display: none;
}
/* NOTION COLLECTION */
.notion-collection-gallery {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
}
.notion-collection-card {
  overflow: hidden !important;
  border-radius: 20px !important;
  background: none !important;
}
.notion-collection-card__cover {
  border: none !important;
}
.notion-collection-card:hover {
  transition: 0.1s ease-in-out;
  opacity: 0.9;
}
.notion-collection__header,
.notion-header__content {
  display: none !important;
}
.notion-property {
  display: none !important;
}

/* BOOKMARK */
.notion-bookmark {
  overflow: hidden !important;
  background-color: var(--site-bg-dark) !important;
  border: 2px solid var(--site-bg-dark) !important;
  border-radius: 20px;
}
.notion-bookmark:hover {
  border: 2px solid var(--site-bg-dark) !important;
  background-color: var(--site-background) !important;
}

/* END: GLOBAL CONFIG */

/* START: CUSTOM ELEMENT STYLES */
/* HERO */
#block-83c01cc95ec8469480563c7bbb8acd8d {
  padding-bottom: 0;
}
#block-93a31ca2907943e89a0793dd1f44a997 {
  padding-bottom: 80px;
  /*padding-bottom: 0;*/
}
#block-93a31ca2907943e89a0793dd1f44a997 {
  background: url(https://rinconelloinc.super.site/_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fcd4afc2f-4015-4229-b03a-9949a3ede8bf%2Fimages%2F4daf9a33-2d3f-4c71-8cdd-96b96f2a2137.png&w=640&q=80)
    no-repeat left 10px;
  background-size: 556px;
}
#block-48585b2ff1a6461cba5dd62949cc2a45 {
  display: none;
}
/* CLAIM */
#block-14c19c63599246b1b3e7cb40cee3f231 {
  background: var(--site-bg-dark);
}

/* reviews */
#block-bece32ecb68a4b86a957d6a4544ee325 {
  text-align: center;
  background: var(--site-bg-dark);
}

#block-bece32ecb68a4b86a957d6a4544ee325 .notion-callout {
  border-radius: 20px;
  background: var(--site-background);
  padding: 20px;
}

/* social media */
#block-0b51cba6f3c043efaee8a3c9604aa9a3 {
  padding: 0;
  color: var(--site-bg-dark);
  background: #fdb933;
}
#block-58fbdb4b7b144260aea22eb8f990081b,
#block-c5e79ce0bfbd402bb0e91ac7341ee0d7 {
  padding: 0;
  margin: 0px 37px;
  flex-flow: row;
}
#block-0b51cba6f3c043efaee8a3c9604aa9a3 .notion-image {
  min-width: 30px !important;
  width: 30px !important;
  display: inline-block !important;
  margin: auto;
}
/* FOOTER */
#block-ab73b0987f56405fa50502c37dc9ee33 {
  text-align: center;
  margin: auto;
  margin-top: 10%;
}
#block-f2d447b68ce947b1afb2da4e6b3fbc60 {
  width: 301px;
  margin: auto;
}
#block-ab73b0987f56405fa50502c37dc9ee33
  #block-f2d447b68ce947b1afb2da4e6b3fbc60
  .notion-column {
  width: 30px !important;

  margin: 30px 15px !important;

  padding: 0 !important;
}

/* END: CUSTOM ELEMENT STYLES*/

/* Start: Responsive*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  body {
    text-align: center;
  }
  /* HERO */
  #block-48585b2ff1a6461cba5dd62949cc2a45 {
    display: block;
  }
  #block-93a31ca2907943e89a0793dd1f44a997 {
    background: none;
  }
}
