:root {
  --color-text-default: #ffffff !important;
  --color-text-gray: #8a8a8a !important;
  --site-background: #161616 !important;
  --site-bg-dark: #000000 !important;
}
.super-content {
  padding: 0 !important;
}
.super-content.max-width {
  max-width: none;
}
.super-navbar__content {
  max-width: 1400px !important;
  margin: auto !important;
}
.notion-header {
  display: none;
}
body {
  background: var(--site-background) !important;
}

h1 {
  font-size: 80px !important;
}

h2 {
  font-size: 35px !important;
}

p {
  font-size: 20px;
}
.super-content .notion-callout .notion-text__content .notion-link {
  border: 2.5px solid var(--color-text-yellow) !important;
  padding: 5px 26px;
  margin-top: 11px;
  display: inline-block;
  border-radius: 26px;
  text-size-adjust: 18pt;
  font-size: 13pt;
}
.super-content .notion-callout .notion-text__content .notion-link:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.super-content .notion-text__content .notion-semantic-string .link {
  opacity: 1;
}
img {
  overflow: hidden;
}
img:hover {
  transition: 0.3s ease-in-out;
  filter: opacity(0.5);
  cursor: pointer;
  transform: scale(1.02);
}

.notion-bookmark {
  overflow: hidden !important;
  background-color: #000000 !important;
  border: none !important;
  border-radius: 20px;
}
.notion-bookmark:hover {
  background-color: var(--site-background) !important;
}

/* NOTION CALLOUT */
.notion-callout {
  align-items: center;
}
.notion-callout.border {
  border: none !important;
}
.notion-callout .notion-callout__icon {
  display: none !important;
}
.notion-callout .notion-callout__content {
  width: 100% !important;
  margin: 0 !important;
}

.notion-callout .notion-callout__content > span {
  display: none;
}
.notion-text__children {
  margin: 0 !important;
}
/* BLOCK SETTINGS */
#block-bece32ecb68a4b86a957d6a4544ee325,
#block-14c19c63599246b1b3e7cb40cee3f231 {
  background-color: var(--site-bg-dark);
}
#block-c2b400fe00c745ff93e64a108163add8,
#block-b95c217140574ff1a49a4aee9636ad70,
#block-bece32ecb68a4b86a957d6a4544ee325 .notion-callout__content,
#block-83c01cc95ec8469480563c7bbb8acd8d,
#block-14c19c63599246b1b3e7cb40cee3f231 > .notion-callout__content {
  max-width: 1400px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto !important;
}

/* HERO */
#block-83c01cc95ec8469480563c7bbb8acd8d {
  min-height: 800px;
  background: url(https://rinconelloinc.super.site/_next/image?url=https%3A%2F%2Fsuper-static-assets.s3.amazonaws.com%2Fcd4afc2f-4015-4229-b03a-9949a3ede8bf%2Fimages%2F4daf9a33-2d3f-4c71-8cdd-96b96f2a2137.png&w=640&q=80)
    no-repeat left 216px;
  background-size: 706px;
}
#block-48585b2ff1a6461cba5dd62949cc2a45 {
  display: none;
}

/* INFO */

#block-1e11c9e338764ec0a552d875027f47d1 {
  flex-flow: row;
}

#block-adbf317183a24395bfaf7a92ce4c039c,
#block-571f056c27be442588ba718774b1728e {
  padding-top: 35px;
}

/* PORTFOLIO */
#block-b95c217140574ff1a49a4aee9636ad70 {
  overflow: visible;
  position: relative;
  width: 100%;
}
#block-0b51cba6f3c043efaee8a3c9604aa9a3 {
  background: #fdb933;
  position: absolute;
  width: 1400px;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: -4%;
  color: #000000;
  border-radius: 20px;
  padding: 10px 36px;
}

/* Testimonials */
#block-4adc42d2025b45f49df3e996c376953a,
#block-cda863888b874e589ce4e9a8236e601e {
  text-align: center;
}

#block-bece32ecb68a4b86a957d6a4544ee325 .notion-callout {
  text-align: center;
  border-radius: 20px;
  background: var(--site-background);
  padding: 20px;
}
#block-bece32ecb68a4b86a957d6a4544ee325
  .notion-callout
  .notion-callout__content {
  padding: 0;
}

/* FOOTER */
#block-ab73b0987f56405fa50502c37dc9ee33 {
  text-align: center;
  margin: auto;
  margin-top: 10%;
}
#block-f2d447b68ce947b1afb2da4e6b3fbc60 {
  width: 301px;
  margin: auto;
}
#block-ab73b0987f56405fa50502c37dc9ee33
  #block-f2d447b68ce947b1afb2da4e6b3fbc60
  .notion-column {
  width: 30px !important;

  margin: 30px 15px !important;

  padding: 0 !important;
}

@media only screen and (max-width: 600px) {
  /* SOCIAL MEDIA ICON DISPLAY VERTICAL */
  #block-9d6ab013463a433a9ae3324eb8753ea9 {
    width: 200px;
    flex-flow: row;
  }
  /* HIDE HERO AVATAR */
  #block-83c01cc95ec8469480563c7bbb8acd8d {
    background: none;
  }
  /* HIDE QUICK CONTACT */
  #block-e2ea8d887c4b49c9a81aaf77e053d087 {
    display: none;
  }

  #block-c2b400fe00c745ff93e64a108163add8,
  #block-b95c217140574ff1a49a4aee9636ad70,
  #block-bece32ecb68a4b86a957d6a4544ee325 .notion-callout__content,
  #block-83c01cc95ec8469480563c7bbb8acd8d,
  #block-83c01cc95ec8469480563c7bbb8acd8d > .notion-callout__content {
    margin: 5px;
  }
}

/*@media only screen and (min-width: 650px) {*/

/*}*/

/*@media only screen and (min-width: 992px) {*/

/*}*/

/*@media only screen and (min-width: 1200px) {...}*/
